html
{
  margin:0px 0px 0px 0px;
}
body
{
  margin:0px 0px 0px 0px;
  font:10pt arial,helvetica,sans-serif;
}
.banner
{
  z-index:1;
  position:absolute;
  top:0px;
  left:0px;
  padding:3px;
}
.gradient
{
  background:#ffffff url(bkg.jpg) repeat-x fixed top;
}
h1
{
  display:inline;
  color:#000099;
}
#mapExt
{
  margin-top: 2em;
}
#map{
  height: 30em;
  width: auto;
}
.actionpanel
{
  position:absolute;
  top:0em;
  left:30em;
  margin-top: 0.2em;
}
.actionbutton
{
  border:#dddddd solid 1px;
  background-color:#eeeeee;
  color:#000000;
}
#lightslide
{
  position:relative;
  bottom:0px;
  height:100px;
  border:#dddddd solid 1px;
  background-color:#fcfcfc;
}
#prevPhotos
{
  position:absolute;
  left:0em;
  overflow:hidden;
  width:1em;
  height:100px;
  /*border:#999999 solid 1px;*/
}
.slideButton
{
  width:100%;
  height:100%;
  background-color:#eeeeee;
  padding-top:40px;
}
.slideButton:hover
{
  background-color:#dddddd;
  cursor:pointer;
}
.resultButton
{
  background-color:#eeeeee;
}
.resultButton:hover
{
  background-color:#dddddd;
  cursor:pointer;
}
#photos
{
  position:absolute;
  margin-left:1.5em;
  margin-right:1.5em;
  overflow:hidden;
  height:100px;
}
#nextPhotos
{
  position:absolute;
  right:0em;
  overflow:hidden;
  width:1em;
  height:100px;
}
#waiting
{
  position:relative;
  top:-5em;
  z-index:1;
  display:none;
  text-align:center;
}
.photoItem
{
  float:left;
  margin:3px;
  height:75px;
  cursor:pointer;
}
.itemLoader
{
  position:relative;
  top:-14px;
  display:none;
}
.topFloat, .bottomFloat
{
  clear:both;
  height:0px;
  line-height:0px;
}
#pager
{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.search
{
  position:absolute;
  top:0.2em;
  right:1em;
}
.search input
{
  border:solid #dddddd 1px;
}
.smallText
{
  font-size:9pt;
}
